/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  /* background: #c4d3f6; */

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.tablestyle {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .tablestyle {
    display: block;
  }
}

.rowstyle {
  display: table-row;
  background: #fff;
}

.rowstyle.header {
  color: #ffffff;
  background: #727cf5;
}

@media screen and (max-width: 768px) {
  .rowstyle {
    display: block;
  }

  .rowstyle.header {
    padding: 0;
    height: 0px;
  }

  .rowstyle.header .cell {
    display: none;
  }

  .rowstyle .cell:before {
    font-family: Poppins-Bold;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.rowstyle .cell {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.rowstyle.header .cell {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
  width:auto;
}

.rowstyle .cell:nth-child(1) {
  width: 15%;
  padding-left: 40px;
}

.rowstyle .cell:nth-child(2) {
  padding-left: 20px;
  width: 70%;
}

.rowstyle .cell:nth-child(3) {
  padding-left: 20px;
  width: 20px;
  padding-right: 40px;
}

.rowstyle .cell:nth-child(4) {
  padding-left: 20px;
  width: 15%;
}


.tablestyle, .rowstyle {
  width: 100% !important;
}

.rowstyle:hover {
  background-color: #ececff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .rowstyle {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  
  .rowstyle .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .rowstyle .cell:nth-child(1) {
    padding-left: 30px;
  }
  
  .rowstyle .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .tablestyle, .rowstyle, .cell {
    width: 100% !important;
  }
}